{% extends 'base.html' %}

{% load static %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/lib/jquery.form.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/app/homepage.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1 class="h4">Weakref usage:</h1>
        </div>
        <p>Instances of Keeper class:</p>
        <pre>{{ class_children }}</pre>

        <div class="page-header">
            <h2 class="h4">Payments processing:</h2>
        </div>

        <form method="POST" id="id_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.user.id_for_label }}">{{ form.user.label }}</label>
                {{ form.user }}
                {{ form.user.errors }}
            </div>
            <div class="form-group">
                <label for="{{ form.receivers.id_for_label }}">{{ form.receivers.label }}</label>
                {{ form.receivers }}
                {{ form.receivers.errors }}
                <p class="help-block">Type users INN to send payment, comma-separated</p>
            </div>
            <div class="form-group">
                <label for="{{ form.amount.id_for_label }}">{{ form.amount.label }}</label>
                {{ form.amount }}
                {{ form.amount.errors }}
            </div>
            <button type="submit" class="btn btn-primary">Send payment</button>
        </form>
    </div>
{% endblock %}